/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar-inverse .navbar-brand {
  color: rgba(247, 247, 255, 0.8);
}

.navbar-inverse .navbar-brand img {
  margin-right: 10px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-nav > li > a {
  padding-left: 8px;
  padding-right: 8px;
}

.navbar-inverse .navbar-brand {
    font-size: 20px;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-brand {
    /*white-space: nowrap;*/
    max-width: calc(100% - 60px);
    /*overflow: hidden;*/
  }
  .navbar-inverse .navbar-brand img{
    position:absolute;
  }
  .navbar-inverse .navbar-brand span{
    padding-left: 35px;
    display: block;
    margin-top: -11px;
  }
  
  /* menu on the right in mobile version */
  .navbar-inverse {
    background: none;
  }
  .navbar-inverse .navbar-header {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
  }
  .navbar-collapse ul {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
    width: auto;
    text-align: right;
  }
  .navbar-inverse .navbar-brand {
    font-size: 16px;
  }
}

.well-trans {
  background-color: rgba(244, 244, 244, 0.8);
}

.main-menu {
  /*font-weight: bold;*/
}

body {
  font-size: 16px;
}

