/* Header */
#head {
	text-align: center;
	color:black;
	font-family:"Open sans", Helvetica, Arial;
	font-weight:400;
}
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head .lead { font-family:"Open sans", Helvetica, Arial; font-size:32px; margin-bottom:6px; color:black; line-height:1.15em; } 
	#head .tagline { color:rgba(0,0,0,0.75); margin-bottom:25px; }
		#head .tagline a { color:#444; } 
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(60,60,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(50,50,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(50,50,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(50,50,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active, 
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head .lead { font-size: 24px; }
}

/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }

/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h-body { }


/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */
.maincontent { }

/* Sidebars */
.sidebar { padding-top:36px; padding-bottom:30px; }
	.sidebar .widget { margin-bottom:20px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; } 

/* Footer */
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { padding: 8px 0; color: #777; font-size: 12px; }

.footer {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    min-height: 15px;
    position: fixed;
    width: 100%;
}

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }

.navbar-inverse {
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
    min-height: 50px;
    padding-top: 13px;
}

body.home {
	background:#181015  no-repeat;
	background-size: cover;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  /*display: flex;
  align-items: center;
  -ms-align-items: center;
*/

}

.carousel .item,.carousel .active{height:100vh;}
.carousel-inner{height:100vh; text-align: center;}

@media (orientation:landscape) {
	.carousel .item img {
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	.carousel .alignhelper {
		display: none;
	}
}

@media (orientation:portrait) {
	.carousel .item img {
	    vertical-align: middle;
	    max-height: 100%;
	    display: inline-block;
	}
	.carousel .item {
	    white-space: nowrap;    
	    text-align: center;
	    margin: 0;
	}
	.carousel .alignhelper {
		display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}
}

a.dropdown-toggle {
	cursor: pointer;
}

.slide-preview .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    /*width: 100%;*/
    opacity: 0;
}

@media (max-width: 767px) {
	.slide-preview .carousel-indicators:active,.slide-preview .carousel-indicators:hover {
	    display: none;
	}
}
@media (min-width: 768px) {
	.slide-preview .carousel-indicators:active,.slide-preview .carousel-indicators:hover {
	    opacity: 1;
	}
}
/* Indicators list style */
.slide-preview .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.slide-preview .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.slide-preview .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

.musicPlayButton{
	padding: 3px 6px;
	color: rgba(255, 255, 255, 0.6);
	font-size: xx-small;
}

.musicPlayButton:hover,
.musicPlayButton:focus { color:white; }
.musicPlayButton:active,
.musicPlayButton.active { color:rgba(255,255,255,.8);}


.bloglist {
	padding-top: 70px;
	padding-bottom: 60px;
	min-height: 100vh;
	background: url("../images/bg_header.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a{
    cursor: pointer;
}

html,body,.content-div {
	height: 100%;
}

.home-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

@media (max-height: 484px), (max-width: 484px) {
	.home-outer {
		padding-top: 70px;
	}
}

@media (min-height: 485px) and (min-width: 484px) {
	.home-middle {
	    display: table-cell;
	    vertical-align: middle;
	}

	.home-inner {
	    margin-left: auto;
	    margin-right: auto; 
	}
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.top-bottom-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.well-home {
    background-color: rgba(244, 244, 244, 0.6);
    min-height: 20px;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    border-radius: 20px;
}

.skype-call-btn {
	font-size: 14px;
}

@media (max-width: 767px) {
	div.contact-map {
		display: none;
	}
}

#mainButton {
	white-space: normal;
}