<div id="carousel_photo" class="carousel slide slide-preview" data-ride="carousel" data-interval="false">
  <!-- Indicators
  <ol class="carousel-indicators">
    <li data-target="#carousel_photo" data-slide-to="0" class="active"></li>
    <li data-target="#carousel_photo" data-slide-to="1"></li>
    <li data-target="#carousel_photo" data-slide-to="2"></li>
  </ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div ng-repeat="(key, ph) in photos" ng-class="{item: true, active : (key === 0)}">
    	<span class="alignhelper"></span>
      <img ng-src="{{ph.url}}" alt="{{ {res: ph, attr: 'title'} | translate_res }}">
      <div class="carousel-caption">
	    <h3>{{ {res: ph, attr: 'title'} | translate_res}}</h3>
	    <p>{{ {res: ph, attr: 'description'} | translate_res}}</p>
	  </div>
    </div>
  </div>

  <!-- Controls -->
	<span class="left carousel-control" data-target="#carousel_photo" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</span>
	<span class="right carousel-control" data-target="#carousel_photo" data-slide="next">
	   <span class="glyphicon glyphicon-chevron-right"></span>
	</span>

  <ol class="carousel-indicators">
    <li  data-target="#carousel_photo" ng-repeat="(key, ph) in photos" ng-class="{active : (key === 0)}" ng-attr-data-slide-to="{{key}}">
      <img alt="" ng-src="{{ph.thumb}}">
    </li>
  </ol>
</div>
